body {
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	margin: 0;
}

.chat-header {
	display: flex;
	height: 60px;
	box-shadow: 0px 0px 15px 4px #0000009c;
}

.chat-header img {
	max-width: 300px;
	width: 100%;
	height: 46px;
	padding-top: 14px;
	padding-left: 12px;
}

.main-container {
	display: flex;
	justify-content: space-between;
	width: 87%;
	height: 570px;
	margin: 40px auto;
}

#aside {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	width: 50%;
	border-left: 2px solid #ddd;
	border-bottom: 1px solid #ddd;
	box-shadow: 0px 2px 1px 1px #00000029;
	height: 565px;
}

h6 {
	font-weight: 700;
	margin: 15px;
	font-size: 16px;
}

.user-content {
	display: flex;
	padding-bottom: 17px;
	cursor: pointer;
}

.user-content.active {
	border-bottom: 1px solid #068ccd;
	background: #eee;
}

.user-content img {
	border-radius: 50%;
	width: 65px;
	height: 65px;
	margin-left: 12px;
	margin-top: 8px;
}

.user-name {
	font-weight: 700;
	margin-top: 25px;
	margin-left: 10px;
	font-size: 15px;
}

.user-status {
	margin-left: 10px;
	color: gray;
	font-size: 15px;
}

.main-content {
	max-width: 1500px;
	width: 100%;
}

#messages-content {
	height: 525px;
	background: #eee;
	display: flex;
	flex-direction: column;
	overflow: scroll;
	padding: 10px 130px 15px 130px; 
}

.messages-received,
.messages-sent {
	background: #068ccd;
	max-width: 250px;
	border-radius: 15px;
	position: relative;  
	margin-bottom: 15px;
	margin-top: 10px; 
}

.messages-received {
	margin-right: auto;
}

.messages-received:after {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	left: 2px;
	bottom: -13px;
	border: 10px solid;
	border-color: #068ccd transparent transparent #068ccd;
}

.message-received-content,
.message-received-date {
	text-align: end;
	padding-right: 17px;
	padding-left: 17px;
	font-size: 15px;
}

.messages-sent {
	margin-left: auto; 
}

.messages-sent:after {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	right: 2px;
	bottom: -13px;
	border: 10px solid;
	border-color: #068ccd #068ccd  transparent transparent;
}

.message-sent-content,
.message-sent-date {
	display: flex;
	justify-content: flex-start;
	padding-left: 17px;
	padding-right: 17px;
	font-size: 15px; 
}

.input {
	display: flex;
	height: 40px;
	background: #068ccd;
}

input[type=text] {
	height: 25px;
	margin-left: 20px;
	width: 88%;
	margin-right: 5px;
	margin-top: 8px;
	border-radius: 5px 0px 0px 5px;
	padding-left: 5px;
}

button[type=button] {
	border: 1px solid white;
	color: #068ccd;
	height: 25px;
	margin-top: 8px;
	margin-right: 46px;
	width: 45px;
	border-radius: 0px 3px 3px 0px;
	font-size: 11px;
	font-weight: 800;
	background: white;
	cursor: pointer;
}

/*Footer*/

.page-footer {
	color: gray;
	background: #000000cf;
}

.container {
	width: 87%;
}

.py-4 {
	border-bottom: 1px solid gray;
}

a {
	color: gray;
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
}

.mx-auto-1 {
	margin-right: auto!important;
}

p {
	margin-left: -12px;
}

.fa-facebook {
	border: 1px solid gray;
	border-radius: 50%;
	padding: 5px 9px 5px 8px;
	margin-right: 2px;
	cursor: pointer;
}

.fa-twitter {
	border: 1px solid gray;
	border-radius: 50%;
	padding: 5px 6px 5px 6px;
	margin-right: 2px;
	cursor: pointer;
}

.fa-linkedin {
	border: 1px solid gray;
	border-radius: 50%;
	padding: 5px 7px 5px 7px;
	margin-right: 2px;
	cursor: pointer;
}

.fa-google-plus {
	border: 1px solid gray;
	border-radius: 50%;
	padding: 5px 4px 5px 4px;
	cursor: pointer;
}

.fa-google-plus:hover,
.fa-linkedin:hover,
.fa-twitter:hover,
.fa-facebook:hover {
	background: silver;
}

/*Media query*/

@media screen and (max-width: 1200px) {
	h6 {
		font-size: 16px;
	}

	.user-content img {
		width: 60px;
		height: 60px;
	}

	.user-name,
	.user-status,
	.message-received-content,
	.message-received-date,
	.message-sent-content,
	.message-sent-date {
		font-size: 14px;
	}

	#messages-content {
		padding: 10px 80px 15px 80px; 
	}

	.messages-received,
	.messages-sent {
		max-width: 240px;
	}
}

@media screen and (max-width: 992px) {
	h6 {
		font-size: 16px;
	}

	.user-content img {
		width: 55px;
		height: 55px;
	}

	.user-name,
	.user-status,
	.message-received-content,
	.message-received-date,
	.message-sent-content,
	.message-sent-date {
		font-size: 13px;
	}

	#messages-content {
		padding: 10px 50px 15px 50px; 
	}

	.messages-received,
	.messages-sent {
		max-width: 220px;
	}

	.messages-received:after {
		bottom: -10px;
		border: 9px solid;
		border-color: #068ccd transparent transparent #068ccd;
	}

	.messages-sent:after {
		bottom: -10px;
		border: 9px solid;
		border-color: #068ccd #068ccd  transparent transparent;
	}
}

@media screen and (max-width: 768px) {
	h6 {
		font-size: 15px;
	}

	.user-content img {
		width: 50px;
		height: 50px;
	}

	.user-name,
	.user-status,
	.message-received-content,
	.message-received-date,
	.message-sent-content,
	.message-sent-date {
		font-size: 12px;
	}

	#messages-content {
		padding: 10px 20px 15px 20px; 
	}

	.messages-received,
	.messages-sent {
		max-width: 200px;
	}

	.messages-received:after {
		bottom: -9px;
		border: 8px solid;
		border-color: #068ccd transparent transparent #068ccd;
	}

	.messages-sent:after {
		bottom: -9px;
		border: 8px solid;
		border-color: #068ccd #068ccd  transparent transparent;
	}
}

@media screen and (max-width: 600px) {
	#messages-content {
		padding: 10px 10px 15px 10px; 
	}

	.messages-received,
	.messages-sent {
		max-width: 180px;
	}

	.messages-received:after {
		bottom: -8px;
		border: 8px solid;
		border-color: #068ccd transparent transparent #068ccd;
	}

	.message-received-content,
	.message-received-date,
	.message-sent-content,
	.message-sent-date {
		font-size: 10px;
	}

	.messages-sent:after {
		bottom: -8px;
		border: 8px solid;
		border-color: #068ccd #068ccd  transparent transparent;
	}
}
